
.pag{
    background-color: #202020;
    color: white;
    text-align: center;
    padding: 0,5rem ;
    width: 1rem;
}

.input-pag{
    background-color:#202020 ;
    color: white;
}


.pag-container {
    display: flex;
    justify-content: center;
    padding: 2rem;
    align-items: center;
    margin-top: 10px;
  }
  
  
  .pag-button { 
    box-shadow: 2px 2px 4px rgba(97, 97, 97, 0.873); 
    border: 1px solid #ffd100;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 5px;
    width: 3rem;
    background-color: #202020;
    color: white;
  }
  
  .pag-button:disabled {
    background-color: #202020;
    color: white;
    cursor: not-allowed;
  }
  
  
  .input-pag {
    background-color: #202020;
    width: 5rem;
    text-align: center;
    border: 1px solid #ffd100;
    box-shadow: 2px 2px 4px rgba(97, 97, 97, 0.873); 
    border-radius: 4px;
    margin: 0 5px;
    padding: 5px;
    color: white;
  }
  
  
  .pag {
    border: 1px solid #ffd100;
    box-shadow: 2px 2px 4px rgba(97, 97, 97, 0.873); 
    background-color: #202020;
    text-align: center;
    width: 40px;
    padding: 5px;
    font-weight: bold;
    margin: 0 5px;
    color: white;
    border-radius: 4px;
  }
  
 
