.search-form {
  display: flex;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  background-color: #202020;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(97, 97, 97, 0.873);
}

.search-input {
  width: 15%; 
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  margin-right: 350px;
}

.boton-create,
select {
  background-color:#fff;
  color: rgb(78, 77, 77);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 5px; /* Agrega un margen derecho de 5px */

}

select {
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

/* Asegurarse de que todos los elementos estén en línea y sin márgenes adicionales */
/* .search-input,
.boton-create,
.boton-search,
select {
  display: inline-block;
} */

/* Alinear horizontalmente los elementos en la barra de navegación */
