.search-form {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 4rem;
  background-color: #202020;
  padding: 2rem;
  box-shadow: 0 2px 4px rgba(97, 97, 97, 0.873);
}

.search-input {
  width: 16rem;
  height: 2.75rem; 
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  margin-left: 9rem;
}

.boton-create,
select {
  width: 7rem;
  height: 2.75rem; 
  background-color:#fff;
  color: rgb(78, 77, 77);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 5px; 

}

select {
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin: 0.5rem;
}

.boton-create{
  margin-right: 2rem;
  background-color: #ffee32;
  font-weight: bolder;
}

.boton-reload{
  width: 3rem;
  height: 3rem; 
  background-color:#202020;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  margin-right: 30rem;
  font-size: 1.75rem;
}
